@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

h1 {
    font-size: 3rem;
}

h1,
div,
summary {
    font-family: 'PT Mono', monospace;
    color: #2E65F1;
}

.accordion { 
    display: block;
    width: 70%;
    margin: 50px auto;
    padding: 1rem 2rem;
}

details {
    margin-bottom: 20px;
    background-color: rgb(238, 245, 253);
    border-radius: 5px;
}

summary {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.meme-img {
    padding-top: 20px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

summary {
    outline: none;
    /* Hides marker on Chrome */
    list-style: none;
  }