body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.accordion { 
    display: block;
    background-color: beige;
    width: 680px;
    margin: 120px auto;
}

details {
    margin-bottom: 20px;
}

